.button{
    padding: 7px;
    font-size: 16px;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 12px;
    width: 100%;
    text-transform: uppercase;
    outline: none;
    border: 1px solid gray;
}

.button:hover{
    background-color: whitesmoke;
    color: black;
}